<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<p></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update password
                    </div>
                    <div class="card-body">
	                   <form th:action="@{/user/updatePassword}" method="POST">
	                        <label>Password Lama:</label> <br>
	                        <input type="text" name="passwordLama" id="passwordLama" class="form-control" title="Password harus terdiri dari minimal satu angka dan satu huruf, serta minimal terdiri dari 8 karakter " pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" oninvalid="this.setCustomValidity('Password Tidak Boleh Kosong')" oninput="this.setCustomValidity('')" required/>
	                        <p th:text="${message}" style="color: red"></p>
	                        <label>Password Baru:</label> <br>
	                        <input type="text" name="passwordBaru" id="passwordBaru" class="form-control" title="Password harus terdiri dari minimal satu angka dan satu huruf, serta minimal terdiri dari 8 karakter " pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" oninvalid="this.setCustomValidity('Password Tidak Boleh Kosong')" oninput="this.setCustomValidity('')" required/>
	                        <br>
	                        <label>Konfrimasi Password Baru:</label> <br>
	                        <input type="text" name="konfirmasi" id="password_konfirmasi" class="form-control" title="Password harus terdiri dari minimal satu angka dan satu huruf, serta minimal terdiri dari 8 karakter " pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" oninvalid="this.setCustomValidity('Password Tidak Boleh Kosong')" oninput="this.setCustomValidity('')" required/>
	                        <p id="validate-status"></p>
	                        <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
	                   </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
	
	$(function () {
	    $("#btnSubmit").click(function () {
			var password = $("#passwordBaru").val();
			var confirmPassword = $("#password_konfirmasi").val();
	        if (password != confirmPassword) {
	        	$('#validate-status').html('Password tidak sama!').css('color', 'red');
	            return false;
	        }
	        return true;
	    });
	});
</script>

</html>